# Run Php without filename extension
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# Return 404 if original request is .php
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]

#RewriteRule ^user-details/([0-9a-zA-Z]+) user-details.php?epin=$1

RewriteCond %{REQUEST_URI} ^/404/$

RewriteRule ^(.*)$ /not-found [L]

#ErrorDocument 404 http://localhost/hns/not-found

ErrorDocument 403 "<title>Access Forbidden!</title>Directory access is forbidden."